<div class="h-auto container-fluid p-2 p-md-4 div-info">
    <h2 class="mb-5 text-center">INFORMACION</h2>

    <div class="row gap-2 gx-3 gy-4 justify-content-around div-content">  

        

        <div class="d-flex flex-column gap-3 div-datos h-100">
            <h4 class="text-uppercase text-center pb-2">formacion academica</h4>
            <p>
                <strong>DIVERSIFICADO: </strong>
                Titulo de Perito Contador con Orientacion en Computación, en la escuela publica
                "Instituto Oficial Divercificado con Orientacion en Computacion (IODOC)" Retalhuleu, Retalhuleu. 
            </p>
            <p>
                <strong>UNIVERSIDAD:</strong>
                Pensum de Ingenieria en Sistemas en la "Universidad Mariano Galvez de Guatemala (UMG)". 
                Retalhuleu, Retalhuleu.
            </p>
            <p>
                <strong>MAESTRIA:</strong>
                Actualmente estoy cursando la maestria de seguridad informatica en la "Universidad mariano Galvez de Guatemala (UMG)".
            </p>
        </div>

        
    </div>

</div>