@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: white;
    font-family: 'Roboto Mono', monospace;
    
}
.div-perfil {
    width: 100%;
    min-height: 100vh;
    padding: 30px 0px 15px 0px;
    background: linear-gradient(to bottom, #021612, #033028);
    border-radius: 10px;
    border: solid 2px #134e41;
    
}
.img-perfil{
    height: 150px;
    border-radius: 50%;
    border: #b8d6d5 solid 2px;
   
}
.div-info{
    width: 90%;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: solid 1px white;
    
}
.div-contact, .div-habilidades{
    border-radius: 10px;
    padding: 1rem;
}
.icon-telefono{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.contact-whatsp{
    width: 40px;
    height: 40px;
}
.div-uls > ul{
    list-style: none;
    padding: 0;
}
.div-uls > ul > h4{
    text-transform: uppercase;
    font-size: 20px;
}
.div-uls > ul > li > span{
    font-size: 16px;
    color: #b8d6d5;
}
.div-uls > ul >img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.div-uls > ul > li > img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



/*carrusel styles */

.slader{
    width: 100%;
    height: 70px;
    overflow: hidden; /* Oculta el scroll */
    position: relative;
}
.carrusel{
    width: max-content;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    overflow: hidden;
    position: absolute;
    
}
.carrusel>img{
    width: 100px;
    height:60px;
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 0;
    background-color: rgb(98, 90, 77);
    border: solid 1px azure;
}
.carrusel{
    animation: carrusel-move 20s linear infinite;
    
}

@keyframes carrusel-move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1800px);
    }
}

