<div class=" vh100 d-flex gap-2 flex-column justify-content-evenly align-items-center div-perfil">
    <h2 class="text-uppercase">desarrollador web</h2>

    <div class=" fs-6 fs-md-5 fs-lg-4 text-center flex-md-row flex-column text-md-start p-4 d-flex div-info">
        <img class="img-perfil" src="assets/imgs/perfil.jpeg" alt="foto-perfil">
        <p>
            <strong>Sobre Mi:</strong><br>
            Soy Hector Nathan Lopez Lopez, actualmente cuento con el cierre de pensum de ingeniería en sistemas,
            con lo que he adquirido conocimiento sobre: programacion, red, base de datos y desarrolo web,
            me considero una persona responsable que le gusta aprender nuevas tecnicas y tecnologias, tambien me gusta
            aportar mi conocimiento .
            Estoy en busqueda de experiencia laboral y tener conocimiento profesional en el area de desarrollo web.             
        </p>
    </div>

    <div class=" d-flex justify-content-evenly flex-column flex-md-row    w-100 ">

        <div class="d-flex flex-column align-items-center gap-3 div-habilidades">
            <h3 class="text-uppercase fs-4">conocimientos de tecnologias</h3>
            <div class="d-flex justify-content-around flex-wrap gap-5 div-uls ">
                <ul class="gap-1 d-flex flex-column">
                    <h4 class="text-decoration-underline text-center">lenguajes</h4>
                    <li>
                        <img src="assets/imgs/csharp.png" alt="">
                        <span>c#</span>
                    </li>
                    <li>
                        <img src="assets/imgs/css.png" alt="">
                        <span>CSS</span>
                    </li>
                    <li>
                        <img src="assets/imgs/html.png" alt="">
                        <span>HTML</span>
                    </li>
                    <li>
                        <img src="assets/imgs/mysql.png" alt="">
                        <span>MySQL</span>
                    </li>
                </ul>
            
                <ul>
                    <h4 class="text-decoration-underline text-center">framework</h4>
                    <li>
                        <img src="assets/imgs/Angular.png" alt="">
                        <span>Angular</span>
                    </li>
                    <li>
                        <img src="assets/imgs/bootstrap.png" alt="">
                        <span>Bootstrap</span>
                    </li>
                </ul>
                <ul>
                    <h4 class="text-decoration-underline text-center">herramientas</h4>
                    <li>
                        <img src="assets/imgs/vscode.png" alt="">
                        <span>Visual Studio Code</span>
                    </li>
                    <li>
                        <img src="assets/imgs/github.png" alt="">
                        <span>GitHub</span>
                    </li>
                    <li>
                        <img src="assets/imgs/postman.webp" alt="">
                        <span>Postman</span>
                </ul>
            </div>
        </div>
    </div>

   <div class="slader">
    <div class="carrusel">
        <img src="assets/imgs/Angular.png" alt="">
        <img src="assets/imgs/csharp.png" alt="">
        <img src="assets/imgs/css.png" alt="">
        <img src="assets/imgs/js.png" alt="">
        <img src="assets/imgs/html.png" alt="">
        <img src="assets/imgs/mysql.png" alt="">
        <img src="assets/imgs/bootstrap.png" alt="">
        <img src="assets/imgs/vscode.png" alt="">
        <img src="assets/imgs/github.png" alt="">
        <img src="assets/imgs/postman.webp" alt="">

        <img src="assets/imgs/Angular.png" alt="">
        <img src="assets/imgs/csharp.png" alt="">
        <img src="assets/imgs/css.png" alt="">
        <img src="assets/imgs/js.png" alt="">
        <img src="assets/imgs/html.png" alt="">
        <img src="assets/imgs/mysql.png" alt="">
        <img src="assets/imgs/bootstrap.png" alt="">
        <img src="assets/imgs/vscode.png" alt="">
        <img src="assets/imgs/github.png" alt="">
        <img src="assets/imgs/postman.webp" alt="">

    </div>

   </div>

</div>