*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-navBar{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(130, 117, 66);
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.navBar{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 50px 0px 50px;
    align-items: center;
    justify-content: space-between;
}
.navBar img{
    width: 50px;
    height: 50px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-item{
    border: solid 1px rgb(125, 125, 125);
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}
.nav-link{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}
.nav-link:hover{
    color: rgb(35, 33, 158);
    transition: .3s;
}
.nav-item:hover{
    box-shadow: 0px 0px 5px 1px rgb(217, 225, 110);
    transition: .3s;
}
.nav-item:active{
    box-shadow: 0px 0px 10px 4px rgb(29, 186, 24);
    transition: .1s;
}