<nav class="navbar fixed-top  div-navBar">
  <!-- contenido de tu nav-bar aquí -->
  
    <nav class="navBar">
        <div class="d-flex align-items-center">
            <h2 class="text-white">PORTAFOLIO</h2>
            <img src="assets/imgs/logo-2.png" alt="">
        </div>
        <ul class="nav">
            
            <li class="nav-item" >
            <a class="nav-link " (click)="scrollTo('perfil')">Perfil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link " (click)="scrollTo('proyectos')">Proyectos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link " (click)="scrollTo('informacion')">Informacion</a>
            </li>
            
        </ul>
    </nav>
 
</nav>
