*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
   position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 25% auto;
    overflow: hidden;
    background-color: #000000;
    padding: 20px;
    gap: 1.5rem;
}

.layout-aside{
  background: linear-gradient(to bottom, #001506, #005e2e);
  height: 85vh;
  border-radius: 8px;
  border: 2px rgb(15, 68, 14) solid;
}
.layout-contenido{
    position: sticky;
    overflow-y: auto;
    background-color: #001414;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
app-contenido::-webkit-scrollbar {
  display: none;
}